*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:RGB(204 185 169);
}
.navbar-brand{
    font-size: 2rem;
    font-weight: bolder;
    color: black;
    font-style: oblique;
}
.nav-item a{
    font-size: 20px;
    font-weight:900;
}
.navbar-brand:hover{
    color: black;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;

    color: black;
    text-transform: uppercase;
}
.nav-link:hover{
    color: black;
}
nav{
    background-color: burlywood;
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    font-family: 'Kalam', cursive;
    border: 2px solid black;
}
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: black;
    color: white;
    border-radius: 60px;
    font-weight: 700;
}
.main{
    background-image: url("https://images.pexels.com/photos/3014826/pexels-photo-3014826.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    width: 100%;
}
.main h1{
    font-size: 4rem;
    font-weight: 700;
    color:whitesmoke;
}
.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color:RGB(140 94 61);
    color: black;
    font-weight: 700;
    border-radius: 60px;
}
.btn1:hover{
    background-color:wheat;
    transition: 0.5s;

}
h1{
    font-weight: 700;
}
.card:hover{
    box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
transition: 0.5s;
}
